In [3]:
from helper import Helper

threshold = 0.5

# TO DO:
# 1. Create linear regression -> confirm if it is needed to be from scratch or we can use sklearn
# 2. The function is called eta, compute square loss to the test data
# 3. Second function is classifier, basically takes threshold and output binary class, compute square loss

data = Helper.load_csv('data/compas-train.csv')
print(data.shape)
data.head()

(4920, 9)

,two_year_recid,sex,age,race,juv_fel_count,juv_misd_count,juv_other_count,priors_count,c_charge_degree
0,0,1,51,0,0,0,0,7,1
1,1,1,22,1,0,1,0,2,0
2,0,0,43,0,0,0,0,0,0
3,0,0,29,0,0,0,1,8,0
4,0,0,21,1,0,0,0,0,1

array([0, 1, 0, ..., 0, 1, 0])